/* color */
.bg-primary {
  background: #001524;
}

.bg-secondary {
  background: #273249;
}

.bg-accent {
  background: #4f46e5;
}

.text-accent {
  color: #4f46e5;
}

h1 {
  font-family: "Pacifico", cursive;
  line-height: 1.5 !important;
}

nav li a {
  @apply px-4 py-5 text-lg;
}

nav li a:hover {
  color: #9730ff;
}

.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}
